{% extends 'base.html' %}

{% block content %}
<h3>New Transaction</h3>
<form method="post">
  {% csrf_token %}
  {% for field in form %}
    <p>
      {{ field.label_tag }}<br>
      {{ field }}
      {% if field.help_text %}
        <small style="color: grey">{{ field.help_text }}</small>
      {% endif %}
      {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
      {% endfor %}
    </p>
  {% endfor %}
  <button id="submit_transaction" type="submit" class="btn btn-primary">Make transaction</button>
</form>
{% endblock %}
